
{{> header title=title authed=authed active="home" }}

{{#if requirePassword}}
  <div class="container flex-grow-1 d-flex align-items-center justify-content-center">
    <main class="form-signin w-100" style="max-width: 330px;">
      <form method="POST" action="/login">
        <h1 class="h3 mb-3 fw-normal text-center">Enter Passcode</h1>

        {{#if error}}
          <div class="alert alert-danger" role="alert">Incorrect code. Please try again.</div>
        {{/if}}

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingCode"
            name="password"
            placeholder="Passcode"
            required
            autocomplete="one-time-code"
            inputmode="numeric"
            pattern="\\d{6}"
            maxlength="6"
            minlength="6">
          <label for="floatingCode">Passcode</label>
        </div>

        <button class="btn btn-dark w-100 py-2" type="submit">Enter</button>
                  <div class="form-text mt-2 text-muted text-center">
            Please enter the passcode on your wedding invitation.<br>
            If you need assistance, please email
            <a href="mailto:brianandhannahdaneshgar@gmail.com" class="text-decoration-none">brianandhannahdaneshgar@gmail.com</a>.
          </div>

      </form>
    </main>
  </div>
{{else}}
  <div class="container flex-grow-1 d-flex align-items-center justify-content-center text-center">
    <main>
      <h1 class="mb-3">Welcome</h1>
      <p class="lead text-muted">You’re signed in.</p>
    </main>
  </div>
{{/if}}

{{> footer }}
